.breaking-news {
    padding-top: 80px;
    background-color: #ffffff;
}

.breaking-news-text {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.title-h3 {
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
}

.breaking-news-row {
    display: flex;
    justify-content: space-around;
    column-gap: 35px;
    flex-wrap: wrap;
}

.card-news {
    margin-bottom: 56px;
    height: 295px;
}

.card-news:hover .card-news-title {
    color: #18CFAB;
}

.card-news:hover .date-icon-svg {
    fill: #18CFAB;
} 

.card-news:hover {
    box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.2);
    background: #eef7fc;
}

.card-news-image {
    position: relative;
}

.date-icon {
    position: absolute;
    right: 0;
    top: -1px;
}

.card-img {
    padding-bottom: 14px;
}

.card-news-text {
    padding-left: 18px;
}

.card-news-title {
    font-weight: 700;
    font-size: 17.9885px;
    color: #717171;
    padding-bottom: 13px;
}

.card-news-desc {
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}   

.breaking-news-text {
    position: relative;
}

.breaking-news-text::after {
    position: absolute;
    left: 46.6%;
    top: 47%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
}

.breaking-news-text::before {
    position: absolute;
    right: 46%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
}
